<div class="session_login">
  <h1>Inst_Clone</h1>
  <%= form_with(scope:  :session, url: sessions_path,local: true) do |f| %>
    <div class="input_email">
      <%= f.email_field :email,placheolder:"メールアドレス",size: 30 %>
    </div>

    <div class="input_password">
      <%= f.password_field :password,pleacheolder: "パスワード",size: 30 %>
    </div>

    <%= f.submit "ログイン",class: "submit btn btn-success" %>

  <% end %>
  <br>
  <p>新規登録はこちらから</p>
  <%= link_to "新規登録" ,'users' %>

</div>
