<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="user_edit">
    <table class="user_edit_table">
      <tr>
        <th><%= f.label :name %></th>
        <td><%= f.text_field :name, size: 30 %></td>
      </tr>

      <tr>
        <th><%= f.label :profile %></th>
        <td><%= f.text_area :profile, size: "29x4", id: "textarea" %></td>
      </tr>

      <tr>
        <th><%= f.label :image %></th>
        <td>
          <img id="img_prev" src="#" class='hidden user_img_prev' />
          <%= image_tag(@user.user_image.url, class: "avater rm_img") if @user.user_image.url %>
          <%= f.file_field :user_image , id: "post_img"%>
        </td>
        <%= f.hidden_field :user_image_cache %>

      </tr>
    </table>

    <div class="form_buttom">
      <%= f.submit "送信する" %>
    </div>
  </div>
<% end %>