 <div class="creat_user_form clearfix">
  <%= form_with(model:@user,local: true) do |f| %>
    <h1 class="creat_user_form_title">Inst Clone</h1>
    <div class="input_name">
      <%= f.text_field :name,placeholder: "お名前",size: 30 %>
   </div>

   <div class="input_email">
     <%= f.email_field :email,placeholder: "メールアドレス",size: 30 %>
    </div>

   <div class="input_password">
    <%= f.password_field :password,
                          placeholder: "パスワード",size: 30 %>
   </div>

   <div class="input_re_password">
     <%= f.password_field :password_confirmation,
                          placeholder: "パスワードを再入力",size: 30 %>
    </div>

   <%= f.submit "アカウント登録" ,class: "creat_submit btn btn-success" %>

  <% end %>

    <p>アカウントはお持ちですか？</p>
   <%= link_to "ログインはこちらから" ,'#' %>
 </div>