<div class="user_show">
  <div class="user_area">
  <div class="user_image">
    <%= image_tag(@user.user_image.url, class: "avater") if @user.user_image.present? %>
  </div>

  <div class="user_data clearfix">
    <div class="user_date_show"></div>
    <p><%= @user.name %></p>
    <%= link_to 'プロフィールを編集', edit_user_path(@user.id) %>
    <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
    <div class="user_profile">
      <%= @user.profile %>
    </div>
  </div>
  </div>

  <div>
    <% @blogs.each do |blog| %>
      <div class="my_index_image_area">
        <%= link_to blog_path(blog) do %>
          <%= image_tag blog.image.url, class: "myblog_image" %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
