<!DOCTYPE html>
<html>
  <head>
    <title>InstClone</title>
    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  </head>
  <% if logged_in? %>
    <header class="header">
      <ul class="top_ul">
       <!-- TOP画像は公式よりDL -->
        <li id="li_top"><%= link_to image_tag('top.png',size: '40x40'), blogs_path %></li>
        <li id="li_end"><%= link_to image_tag('user.png',size: '40x40'), user_path(current_user.id) %></li>
        <li><%= link_to image_tag('favo.jpeg',size: '40x40'),favo_page_user_path(current_user.id) %></li>
        <li><%= link_to image_tag('blog.jpeg',size: '40x40'),new_blog_path %></li>
      </ul>
    </header>
  <% end %>

  <body>
  <div class="container">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <%= yield %>
  </div>
  </body>
  <% unless logged_in? %>
    <footer>
     <%= link_to "利用規約とかをリンクさせるところ", '#' %>
    </footer>
  <% end %>
</html>