<!DOCTYPE html>
<html>
  <head>
    <title>InstClone</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <header>
    <ul>
      <!-- TOP画像は公式よりDL -->
      <li class="li_top clearfix"><%= link_to image_tag('top.png',size: '40x40'),'#' %></li>
      <li class="li_end clearfix"><%= link_to image_tag('user.png',size: '40x40'),'#' %></li>
      <li><%= link_to image_tag('favo.jpeg',size: '40x40'),'#' %></li>
    </ul>
  </header>

  <body>
  <div class="container">
    <%= yield %>
  </div>
  </body>

  <footer>

  </footer>
</html>
